* {
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-size: 12px;
}

a,a:link,a:active,a:visited {
	color: #0070C0;
}

ul {
	list-style-type: none;
}

body {
	height: 100%;
}

.wrapper {
	width: 800px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.body {
	margin: 10px;
	width: 230px;
	overflow: hidden;
}

div.form-fild {
	border-bottom: 1px solid #777;
	padding: 3px 0;
}

div.form-fild select,div.form-fild input {
	width: 50%;
}

div.form-fild label {
	float: left;
	width: 47%;
}

#message {
	font-weight: bold;
}

#message span {
	font-weight: normal;
}

div.date {
	overflow: hidden;
}

div.date input {
	width: 93px;
	float: left;
}

a.dp-choose-date {
	margin-top: 0;
	background: url(../img/calendar.png) no-repeat;
}

a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

.form {
	overflow: hidden;
}

.hFooter {
	clear: both;
	height: 50px;
}

.footer {
	height: 50px;
	background: none repeat scroll 0 0 #F2F2F2;
	clear: both;
	line-height: 50px;
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.footer .copyright {
	color: #333333;
	float: left;
	margin-left: 25px;
}