* {
	margin: 0;
	padding: 0;
}

.body {
	margin: 10px;
	width: 230px;
	overflow: hidden;
	font-family: verdana;
	font-size: 12px;
}

div.form-fild {
	border-bottom: 1px solid #777;
	padding: 3px 0;
}

div.form-fild select,div.form-fild input {
	width: 50%;
}

div.form-fild label {
	float: left;
	width: 47%;
}

#message {
	font-weight: bold;
}

#message span {
	font-weight: normal;
}

div.date {
	overflow: hidden;
}

div.date input {
	width: 93px;
	float: left;
}

a.dp-choose-date {
	margin-top: 0;
	background: url(../img/calendar.png) no-repeat;
}

a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

.menu-container {
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
}

.menu {
	list-style-type: none;
	border-color: #777;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	overflow: hidden;
}

.menu-item {
	float: left;
	overflow: hidden;
	border-left: 1px solid #777;
	padding: 2px 10px;
}

.form {
	overflow: hidden;
}